.heroContainer {
  background: ivory;
}

.linksWrapper a {
  color: black;
}

.linksWrapper a svg:hover {
  color: red !important;
}

.heroImageWrapper {
  border-radius: 50%;
}

.heroImage {
  border-radius: 50%;
}

.aboutContainer {
  background: ivory;
}

.skillsContainer {
  background: ivory;
}

.showcaseContainer {
  background: ivory;
}

.carouselCaption {
  color: red;
  text-decoration-color: red;
  text-decoration: underline;
  text-underline-offset: 0.313rem;
}

.contactContainer {
  background: ivory;
}
