.heroContainer {
  background: ivory;
}

.linksWrapper a {
  color: #212529;
}

.linksWrapper a svg:hover {
  color: #0d6efd !important;
}

.heroImageWrapper {
  border-radius: 50%;
}

.heroImage {
  border-radius: 50%;
}

.aboutContainer {
  background: ivory;
}

.skillsContainer {
  background: ivory;
}

.showcaseContainer {
  background: ivory;
}

.contactContainer {
  background: ivory;
}
